fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
httpx


langchain
langchain-community
langchain-groq
langchain-ollama
langgraph


tavily-python
duckduckgo-search
wikipedia
arxiv

sqlalchemy

matplotlib

crewai

websockets

langfuse==2.54.1
